<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Do_an_ticket_box</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Do_an_ticket_box.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header id="header" class="w-100 bg-success d-flex justify-content-center align-items-center h-auto">
     @*    <div class="d-flex justify-content-center align-items-center"> *@
            <nav id="desktop" class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-success">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-3" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: 500;">Ticket Box</a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-2">
                        <li id="search_bar" class="nav-item" style="margin-right: 5vw; margin-left: 5vw;">
                                <div class="input-group">
                                    <div class="form-outline" data-mdb-input-init>
                                        <input type="search" id="form1" class="form-control" placeholder="Bạn tìm gì hôm nay" />
                                        @* <label class="form-label" for="form1">Search</label> *@
                               @*  </div>
                                <form action="@Url.Action("SearchResult", "Home")" method="get">
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </form>
                                </div> *@
                                </div>
                                    <form action="@Url.Action("noSearchResult", "Home")" method="get">
                                    <button type="submit" class="btn btn-dark">Search</button>
                                    </form>
                                </div>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-white border border-light rounded-pill" style="padding-left:20px; padding-right:20px; font-weight: 500; margin-right: 1vw;" asp-area="" asp-controller="Home" asp-action="Index">Tạo sự kiện</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;" asp-area="" asp-controller="MyTicket" asp-action="Index">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-ticket-detailed" style="margin-right:5px;" viewBox="0 0 16 16">
                                                <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z" />
                                                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                            </svg>
                                            Vé của bạn
                                </a>
                            </li>
                            <li class="nav-item">
                            @if(true)
                            {
                                <div style="display: flex; justify-content: center; align-items:center;">
                                    <a class="login__page  nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500; cursor:pointer;">
                                        Đăng Nhập
                                    </a>
                                    <div class="text-white align-content-center align-items-center d-flex" style="width:1px; height: 20px; background-color: #fff;"></div>
                                    <a class="register__page nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500; cursor:pointer;">
                                        Đăng kí
                                    </a>
                                </div>

                                
                            } else
                            {
                                <a class="nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    Profile
                                </a>
                            }           

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        <nav id="mobile" class="d-none navbar navbar-expand-lg navbar-toggleable-lg bg-success">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-2" style="font-weight:500;" asp-area="" asp-controller="Home" asp-action="Index">Ticket Box</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="White" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-2">
                        <li id="search_bar" class="nav-item" style="margin-right: 5vw; margin-left: 5vw;">
                            <div class="input-group">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="search" id="form1" class="form-control" placeholder="Bạn tìm gì hôm nay" />
                                    @* <label class="form-label" for="form1">Search</label> *@
                                    @*  </div>
                                    <form action="@Url.Action("SearchResult", "Home")" method="get">
                                    <button type="submit" class="btn btn-dark">Search</button>
                                    </form>
                                    </div> *@
                                </div>
                                <form action="@Url.Action("noSearchResult", "Home")" method="get">
                                    <button type="submit" class="btn btn-dark">Search</button>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="font-weight: 500;" asp-area="" asp-controller="Home" asp-action="Index">Tạo sự kiện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-ticket-detailed" style="margin-right:5px;" viewBox="0 0 16 16">
                                    <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2z" />
                                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                </svg>
                                Vé của bạn
                            </a>
                        </li>
                        <li class="nav-item">
                            @if (false)
                            {
                                <div style="display: flex; justify-content: center; align-items:center;">
                                    <a class="login__page nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;">
                                        Đăng Nhập
                                    </a>
                                    <div class="text-white align-content-center align-items-center d-flex" style="width:1px; height: 20px; background-color: #fff;"></div>
                                    <a class="register__page nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;">
                                        Đăng kí
                                    </a>
                                </div>
                            }
                            else
                            {
                                <a class="nav-link text-white align-content-center align-items-center d-flex" style="margin-left:1vw; margin-right:1vw; font-weight: 500;" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    Profile
                                </a>
                            }
                        </li>
                     </ul>
                </div>
    </header>
    <div style="width: 100vw;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background-color: #333333;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                        <path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                    </svg>
                </a>
                <a href="" class="me-4 text-reset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                    </svg>
                </a>
                <a href="" class="me-4 text-reset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                    </svg>
                </a>
                <a href="" class="me-4 text-reset">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                    </svg>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Ticket Box
                        </h6>
                        <p>
                            Ticket Box là một website bán vé online giúp tiết kiệm thời gian và công sức cho người tiêu dùng trong việc lên kế hoạch tham dự các sự kiện yêu thích.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--modal -->
    <div class="modal js-modal">
        <div class="modal__overlay js-modal-overlay"></div>
        <div class="modal__body">
            <!-- Resigester form -->
            <div class="js-register-form auth-form__register-form auth-form">
                <div class="auth-form__container js-modal-container">
                    <div class="auth-form__header">
                        <div class="auth-form__heading">
                            <p>Đăng ký tài khoản</p>
                        </div>
                        <div class="auth-form__close-register js-modal-close">
                            <svg class="svgIcon" style="position: absolute;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </div>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn">
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <p class="auth-form__policy-text">
                            Bằng việc tiếp tục, bạn đã đọc và đồng ý vớ
                            <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                            <a href="" class="auth-form__text-link">Chính sách bảo mật thông tin cá nhân</a>
                            của TicketBox
                        </p>
                    </div>

                    <div class="auth-form__controls">
                        <button class="auth-form__sign-up auth-form__input" style="margin: 0 12px;">ĐĂNG KÝ</button>
                    </div>
                    <div class="auth-text">
                        <div class="auth-text-crossbar"></div> <div class="auth-text-crossbar-text">hoặc</div> <div class="auth-text-crossbar"></div>
                    </div>
                    <div class="auth-form__switch">
                        <div class="auth-form__switch-text">
                            Bạn đã có tài khoản? <a href="#" class="login__page auth-form__switch-btn js-notify-list">Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sign-in form -->
            <div class="js-login-form auth-form__sign-up-form auth-form">
                <div class="auth-form__container js-modal-container">
                    <div class="auth-form__header">
                        <div class="auth-form__heading">
                            <div class="auth-form__close-sign-up js-modal-close">
                                <svg class="svgIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                            <span>Đăng nhập</span>
                            <svg class="svgImage" xmlns="http://www.w3.org/2000/svg" width="80" height="64" fill="none" class="sc-dhKdcB cNLBZc"><path fill="#FFD530" d="M75.538 76.358s-.678-12.34-9.182-25.508H21.221L21 57.5"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M75.538 76.358s-.678-12.34-9.182-25.508H21.221L21 57.5"></path><path fill="#FFD530" d="M23.903 49.471S18.77 29.948 10.172 28.843C1.168 27.683-.855 42.697 20 61"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M23.903 49.471S18.77 29.948 10.172 28.843C1.168 27.683-.855 42.697 20 61"></path><path fill="#FFD530" d="M66.071 56.529s2.975 7.218 2.972 14.13c-.004 9.717-2.827 13.444-4.248 17.078 0 0-.005 7.487-1.293 10.553-1.29 3.067-11.386 3.006-14.123 1.01-3.446-2.51-4.592-10.926-4.592-10.926H42.475s-.858 8.413-4.307 10.922c-2.74 1.991-13.04 2.043-14.326-1.026-1.286-3.069-.895-10.556-.895-10.556-1.417-3.636-4.416-7.365-4.411-17.085.004-6.909 2.987-14.125 2.987-14.125"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M66.071 56.529s2.975 7.218 2.972 14.13c-.004 9.717-2.827 13.444-4.248 17.078 0 0-.005 7.487-1.293 10.553-1.29 3.067-11.386 3.006-14.123 1.01-3.446-2.51-4.592-10.926-4.592-10.926H42.475s-.858 8.413-4.307 10.922c-2.74 1.991-13.04 2.043-14.326-1.026-1.286-3.069-.895-10.556-.895-10.556-1.417-3.636-4.416-7.365-4.411-17.085.004-6.909 2.987-14.125 2.987-14.125"></path><path fill="#fff" d="M43.788 82.767c8.075 0 14.62-8.33 14.62-18.604S51.863 45.56 43.788 45.56c-8.074 0-14.62 8.33-14.62 18.604 0 10.275 6.546 18.604 14.62 18.604Z"></path><path fill="#2DC275" d="M43.79 55.001C31.1 55.008 23.92 52.19 21.224 50.85v-3.123c2.477 1.188 10.662 4.526 22.568 4.52 11.905.006 20.088-3.332 22.567-4.52v3.123C63.662 52.19 56.48 55.008 43.791 55Z"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M43.79 55.001C31.1 55.008 23.92 52.19 21.224 50.85v-3.123c2.477 1.188 10.662 4.526 22.568 4.52 11.905.006 20.088-3.332 22.567-4.52v3.123C63.662 52.19 56.48 55.008 43.791 55"></path><path fill="#FFD530" stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="m46.44 58.62-1.41 1.41a1.753 1.753 0 0 1-2.48 0l-1.41-1.41a1.753 1.753 0 0 1 0-2.48l1.41-1.41a1.753 1.753 0 0 1 2.48 0l1.41 1.41a1.753 1.753 0 0 1 0 2.48Z"></path><path fill="#fff" d="M73.766 18.37C67.816 3.143 52.322 1.495 43.87 1.48h-.162c-8.453.015-23.945 1.663-29.898 16.89-7.636 19.537 7.512 29.359 7.512 29.359a54.56 54.56 0 0 0 22.466 4.52A54.692 54.692 0 0 0 56.125 51a54.642 54.642 0 0 0 10.13-3.272s15.148-9.822 7.511-29.359Z"></path><path fill="#FFD530" d="M43.789 10.268c7.625 0 4.25 7.74 5.064 11.777.816 4.036 2.954 2.384 13.241.702 9.804-1.604 12.719 11.666 12.972 12.74 1.331-4.482 1.492-10.186-1.218-17.117C67.859 3.045 52.202 1.475 43.788 1.48c-8.413-.005-24.07 1.565-30.059 16.89-2.71 6.929-2.549 12.635-1.218 17.117.253-1.071 3.169-14.342 12.972-12.74 10.287 1.684 12.427 3.334 13.241-.702.816-4.037-2.56-11.777 5.065-11.777Z"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M33.183 27.523s2.366 1.627 4.77.549c2.405-1.078 3.35-1.953 5.835-1.953 2.489.003 3.433.875 5.838 1.955 2.405 1.078 4.77-.547 4.77-.547"></path><path fill="#2DC275" stroke="#2A2D34" stroke-miterlimit="10" d="m46.697 22.845.034-.039c.795-.904.352-2.312-.816-2.612-.741-.192-1.543-.246-2.129-.249-.583 0-1.387.055-2.129.247-1.168.3-1.613 1.706-.818 2.61l.034.04c1.55 1.736 4.278 1.738 5.824.003Z"></path><path fill="#2A2D34" d="M32.41 19.945a.525.525 0 0 0-.506.651 2.804 2.804 0 0 0 5.456 0 .525.525 0 0 0-.507-.65H32.41ZM55.17 19.945c.339 0 .585.321.506.651a2.804 2.804 0 0 1-5.456 0 .525.525 0 0 1 .507-.65h4.443Z"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M66.336 47.729c-2.477 1.189-10.644 4.526-22.55 4.52-11.905-.007-20.07-3.33-22.547-4.52 0 0-15.148-9.822-7.512-29.359C19.718 3.045 35.375 1.475 43.789 1.48c8.413-.005 24.07 1.565 30.059 16.89 7.639 19.537-7.512 29.359-7.512 29.359Z"></path><path fill="#FFD530" d="M24.72 5.986s-4.64-2.066-7.983 1.1c-3.342 3.166-2.61 6.753-2.11 7.74.971 1.915 6.716 5.386 9.073 3.696 2.622-1.878.755-9.386.755-9.386"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M24.72 5.986s-4.64-2.066-7.983 1.1c-3.342 3.166-2.61 6.753-2.11 7.74.971 1.915 6.716 5.386 9.073 3.696 2.622-1.878.755-9.386.755-9.386"></path><path fill="#FFD530" d="M62.858 5.986s4.64-2.066 7.982 1.1c3.342 3.166 2.61 6.753 2.11 7.74-.971 1.915-6.716 5.386-9.073 3.696-2.621-1.878-.755-9.386-.755-9.386"></path><path stroke="#2A2D34" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M62.858 5.986s4.64-2.066 7.982 1.1c3.342 3.166 2.61 6.753 2.11 7.74-.971 1.915-6.716 5.386-9.073 3.696-2.621-1.878-.755-9.386-.755-9.386"></path></svg>
                        </div>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email hoặc số điện thoại">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="auth-form__group">
                            <button class="auth-form__sign-up auth-form__input">Đăng nhập</button>
                        </div>
                    </div>

                    <div class="auth-form__switch-sign">
                        <a href="#" class="auth-form__switch-btn js-notify-list">Quên mật khẩu?</a>
                        <a href="#" class="auth-form__switch-btn js-notify-list">Đăng nhập với SMS</a>
                    </div>
                    <div class="auth-text">
                        <div class="auth-text-crossbar"></div> <div class="auth-text-crossbar-text">hoặc</div> <div class="auth-text-crossbar"></div>
                    </div>
                    <div class="grid-center auth-form__switch">
                        <div class=" auth-form__switch-text">
                            Bạn mới biết đến TicketBox?<a href="#" class="register__page auth-form__switch-btn">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* modal *@
    <script>
        const loginBtns = document.querySelectorAll('.login__page');
        const registerBtns = document.querySelectorAll('.register__page');
        const loginForm = document.querySelector('.js-login-form');
        const registerForm = document.querySelector('.js-register-form');
        const modal = document.querySelector('.js-modal');
        const modalOverLay = document.querySelector('.js-modal-overlay');
        const modalCloseButtons = document.querySelectorAll('.js-modal-close');

        loginBtns.forEach((loginBtn) => {
            loginBtn.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = 'flex';          // Hiển thị modal
                loginForm.style.display = 'block';  // Hiển thị biểu mẫu đăng nhập
                registerForm.style.display = 'none';      // Ẩn biểu mẫu đăng ký
            });
        });

        registerBtns.forEach((registerBtn) => {
            registerBtn.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = 'flex';          // Hiển thị modal
                registerForm.style.display = 'block';  // Hiển thị biểu mẫu đăng ký
                loginForm.style.display = 'none';      // Ẩn biểu mẫu đăng nhập
            });
        });

        modalCloseButtons.forEach(button => {
            button.addEventListener('click', function () {
                modal.style.display = 'none';
            });
        });

        modalOverLay.addEventListener('click', function (event) {
            if (event.target === modalOverLay) {
                modal.style.display = 'none';
            }
        });


    </script>

    <style>
        /* MODAL */
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
            animation: fadeIn linear 0.1s;
            z-index: 1000;
        }

        .modal__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: -1;
        }

        .modal__body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            --grow-from: 0.7;
            --grow-to: 1;
            margin: auto;
            animation: Growth linear 0.1s;
        }
        /* Authen modal */
        .auth-form {
            display: block;
            width: 500px;
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }

        .auth-form__container {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .auth-form__header {
            color: #333;
            /* max-width: 8.5rem; */
            font-size: 20px;
            font-weight: 400;
            background-color: rgb(45, 194, 117);
            width: 100%;
            height: 112px;
            position: relative;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

        .auth-form__heading {
            height: 64px;
            position: absolute;
            margin: auto;
            width: 85%;
            bottom: 0px;
            left: 10%;
        }

        .auth-form__header .auth-form__heading span {
            position: absolute;
            bottom: 20px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgb(255, 255, 255);
            line-height: 32px;
            left: 0px;
        }

        .auth-form__header .auth-form__heading .svgImage {
            position: absolute;
            right: 20px;
            bottom: 0px;
        }

        .auth-form__header .auth-form__heading .svgIcon {
            position:absolute;
            top:0;
        }

        .auth-form__header .auth-form__heading p {
            position: absolute;
            bottom: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgb(255, 255, 255);
            line-height: 32px;
            left: 90px;
        }

        .auth-form__close-register {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .auth-form__close-sign-up {
            position: absolute;
            right: -5px;
            top: -30px;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .auth-form__switch .auth-form__switch-btn {
            text-decoration: none;
        }

        .auth-form__group {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            margin-top: 10px;
        }

        .auth-form__form {
            margin: 40px 12px 0;
        }

        .auth-form__input {
            width: 100%;
            height: 40px;
            margin-bottom: 16px;
            padding: 7px 11px;
            font-size: 14px;
            border: 1px solid #dbdbdb;
            border-radius: 2px;
            outline: none;
        }

            .auth-form__input:focus {
                border-color: #888;
            }

        .auth-form__aside {
            margin-top: 16px;
        }

        .auth-form__policy-text {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            padding: 0 12px;
        }

        .auth-form__text-link {
            text-decoration: none;
            color: rgb(45, 194, 117) !important;
        }

        .auth-form__controls {
            display: flex;
            justify-content: flex-end;
            margin-top: 60px;
        }

        .auth-form__socials {
            display: flex;
            justify-content: space-between;
        }

        .auth-form__switch {
            font-size: 14px;
            display: flex;
            justify-content: center;
            margin-bottom: 28px;
        }

        .btn--with-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 210px;
            height: 40px;
            margin: 30px 0;
            padding: 20px;
            border: 1px solid #bdbdbd;
        }

        .btn-form__controls-back {
            background-color: #fff;
            margin-right: 8px;
        }

        .auth-form__sign-up-form {
            display: none;
        }

        .auth-text {
            display: flex;
            align-items: center;
            margin-top: 16px;
        }

            .auth-text .auth-text-crossbar {
                height: 1px;
                width: 50%;
                background-color: #dbdbdb;
                flex: 1;
            }

        .auth-form__switch-text {
            color: #000;
            margin: 20px 0 0 0;
            font-size: 18px;
        }

        .auth-text-crossbar-text {
            color: #ccc;
            padding: 0 16px;
            text-transform: uppercase;
            font-size: 14px;
        }

        /* Sign-in form */
        .auth-form__sign-up-form {
        }

        .auth-form__sign-up {
            font-size: 14px;
            font-weight: 500;
            color: #000;
        }

            .auth-form__sign-up:hover {
                color: #fff;
                background-color: rgb(45, 194, 117);
            }

        .auth-form__switch-sign {
            display: flex;
            justify-content: space-evenly;
        }

        .auth-form__switch-btn {
            font-size: 18px;
            text-decoration: none;
            color: rgb(45, 194, 117) !important;
        }
    </style>

</body>
<script>
    window.addEventListener('resize', function () {
        var myDiv = document.getElementById('desktop');

        if (window.innerWidth < 1024) {
            myDiv.style.display = 'none';
            document.getElementById('mobile').classList.remove('d-none');
            document.getElementById('header').classList.remove('justify-content-center');
            document.getElementById('header').classList.remove('d-flex');
        }
    });
    window.dispatchEvent(new Event('resize'));
</script>
</html>
