@model List<Event>;
@{
    ViewData["Title"] = "Home Page";
}

@if (@ViewData["userStatus"] != null && @ViewData["userStatus"].ToString() == "unvertify" && !string.IsNullOrEmpty(@ViewData["userStatus"].ToString()))
{
    <div class="alert alert-danger text-center">
        Vui lòng xác minh Email để mua vé
        <a href="@Url.ActionLink("Index", "Email")"><button class="btn btn-danger">Xác minh Email</button></a>
    </div>
}
else
{

}


<div>
    <div class="d-flex justify-content-center align-items-center text-center box-shadow" style="position: relative">
        <div class="" style="width: 100vw;">
            <button id="prev" class="d-flex align-content-center align-items-center text-center border-0" style="font-size: 40px; height: 50vh; background-color: rgba(128, 128, 128, 0.3); position: absolute; top: 0%;"><</button>
            <button id="next" class="d-flex align-content-center align-items-center text-center border-0" style="font-size: 40px; height: 50vh; background-color: rgba(128, 128, 128, 0.3); position: absolute; top: 0%; right: 0%">></button>
            <div class="banner" style="width: 100vw; height: 50vh;">
                @foreach(var banner in Model)
                {
                    if(banner.status == "Banner")
                    {
                        <a href="@Url.Action("Ticket", "Home", new { id = banner.Event_ID })"><img class="d-none" style="object-fit: cover; width: 100%; height: 100%;;" src=@banner.event_image alt=@banner.Event_Name/></a>
                    }
                }
            </div>
        </div>

        <script>
            
            let currentIndex = 0;
            const images = document.querySelectorAll('.banner img');
            const totalImages = images.length;
            images[currentIndex].classList.remove('d-none')
            const solveBanner = () => {
                const images = document.querySelectorAll('.banner img');
                const totalImages = images.length;
                images[currentIndex].classList.remove('d-none')
                document.getElementById('next').addEventListener('click', () => {
                    images[currentIndex].classList.add('d-none');
                    currentIndex = (currentIndex + 1) % totalImages;
                    images[currentIndex].classList.remove('d-none');
                    console.log('ahihi')
                })
                document.getElementById('prev').addEventListener('click', () => {
                    if (currentIndex == 0) {
                        images[currentIndex].classList.add('d-none');
                        currentIndex = totalImages - 1;
                        images[currentIndex].classList.remove('d-none');
                        console.log('ahihi')
                    } else {
                        images[currentIndex].classList.add('d-none');
                        currentIndex = currentIndex - 1;
                        images[currentIndex].classList.remove('d-none');
                        console.log('ahihi')
                    }
                })
            }

            solveBanner();

            const changeImg = () => {
                images[currentIndex].classList.add('d-none');
                currentIndex = (currentIndex + 1) % totalImages;
                images[currentIndex].classList.remove('d-none');
            }
            setInterval(() => {
                changeImg();
            }, 3000);
        </script>
    </div>

    <div class="d-flex align-items-center align-content-center" style="padding-top: 2vh; box-shadow: 10px 10px 10px 10px">
        <div class="container" style="position:relative;">
            <button id="pre-item-card" style="display: none;position:absolute; left: 3vw; top:20vh; padding:0; border-radius:100%; border:none; background-color: #121212;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </button>
            <button id="next-item-card" style="position:absolute; right: 3vw; top:20vh; padding:0; border-radius:100%; border:none; background-color: #121212;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </button>
            <div class="row">
                <div class="col-12">
                    <h3 class="text-white">Sự kiện xu hướng</h3>
                </div>
                @foreach(var even in Model) {
                    <div class="col-6 col-lg-3 p-1 align-content-center align-items-center" style="cursor: pointer;" id="item-card">
                        <div class="bg-white" style="height: 35vh;  border-radius: 10px; overflow: hidden;">
                            <a href="@Url.Action("Ticket", "Home", new { id = even.Event_ID })"><img class="" style="width: 100%; height: 100%; object-fit: cover ;border-radius: 10px;" src=@even.event_image alt = "@even.Event_Name" /></a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <script>
            const item = document.querySelectorAll('.container #item-card');
            const totalItem = item.length;

            const solveBtn = () => {
                let startIndex = 0, lastIndex = 3, valueSub = 4;
                if (window.innerWidth < 900) {
                    lastIndex = 1;
                    valueSub = 2
                }
                document.getElementById('pre-item-card').addEventListener('click', () => {
                    document.getElementById("next-item-card").style.display = "block";
                    let arr = Array.prototype.slice.call(item);
                    console.log('solve previous btn');
                    if (startIndex == 1) {
                        startIndex = startIndex - 1;
                        lastIndex = startIndex + valueSub;
                        console.log(lastIndex, " ", startIndex);
                        arr[startIndex].classList.remove('d-none');
                        if (!arr[lastIndex].classList.contains('d-none')) {
                            arr[lastIndex].classList.add('d-none');
                        }
                        lastIndex -= 1;
                        document.getElementById("pre-item-card").style.display = "none";
                    } else {
                        startIndex = startIndex - 1;
                        lastIndex = startIndex + valueSub;
                        console.log(lastIndex, " ", startIndex);
                        arr[startIndex].classList.remove('d-none');
                        if (!arr[lastIndex].classList.contains('d-none')) {
                            arr[lastIndex].classList.add('d-none');
                        }
                        lastIndex -= 1;
                    }
                });
                document.getElementById('next-item-card').addEventListener('click', () => {
                    console.log('solve next btn');
                    document.getElementById("pre-item-card").style.display = "block";
                    let arr = Array.prototype.slice.call(item);
                    if (lastIndex == totalItem - 2) {
                        lastIndex = lastIndex + 1;
                        startIndex = lastIndex - valueSub;
                        console.log(lastIndex, " ", startIndex);
                        arr[lastIndex].classList.remove('d-none');
                        if (!arr[startIndex].classList.contains('d-none')) {
                            arr[startIndex].classList.add('d-none');
                        }
                        startIndex += 1;
                        document.getElementById("next-item-card").style.display = "none";
                    } else {
                        lastIndex = lastIndex + 1;
                        startIndex = lastIndex - valueSub;
                        console.log(lastIndex, " ", startIndex);
                        arr[lastIndex].classList.remove('d-none');
                        if (!arr[startIndex].classList.contains('d-none')) {
                            arr[startIndex].classList.add('d-none');
                        }
                        startIndex += 1;
                    }
                });
            }

            const showSlide = () => {
                let arr = Array.prototype.slice.call(item);
                if (totalItem > 4 && window.innerWidth > 900) {
                    for (let i = 4; i < totalItem; i++) {
                        arr[i].classList.add('d-none');
                    }
                }
                if (totalItem > 2 && window.innerWidth < 900) {
                    for (let i = 2; i < totalItem; i++) {
                        arr[i].classList.add('d-none');
                    }
                }
            }

            const solveResponsive = () => {
                if (window.innerWidth > 900) {
                    document.getElementById('pre-item-card').style.left = '-1vw';
                    document.getElementById('next-item-card').style.right = '-1vw';
                }
                if (@Model.Count <= 4) {
                    document.getElementById('pre-item-card').style.display = 'none';
                    document.getElementById('next-item-card').style.display = 'none';
                }
            }
            
            solveBtn();
            showSlide()
            solveResponsive();
        </script>
    </div>

    </div class="d-flex align-items-center align-content-center" style="padding-top: 2vh; box-shadow: 10px 10px 10px 10px #fff:">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-white">Sự kiện trong tháng</h3>
                </div>
        @if((int)ViewData["count_event_in_month"] > 0)
        {
            @foreach(var events in (List<Event>)ViewData["events_in_month"])
            {
                <div class="col-6 col-lg-3 p-1 align-content-center align-items-center" style="cursor: pointer;" id="item-card">
                    @if(events.Event_date_end < DateTime.Now)
                    {
                      <div class="bg-black" style="height: 35vh; border-radius: 10px; overflow: hidden; position: relative;">
                            <a href="@Url.Action("Ticket", "Home", new { id = events.Event_ID })">
                                <!-- Thêm nhãn "Kết thúc" góc trên cùng bên phải -->
                                <span style="background-color: #FF9B3F; color: white; border-radius: 5px; 
                                             position: absolute; top: 10px; right: 10px; 
                                             padding: 5px 10px; font-weight: bold; z-index: 10;">
                                    Kết thúc
                                </span>

                                <img class="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" 
                                     src="@events.event_image" alt="Alternate Text" />
                                <div class="text-white" style="position: absolute; bottom: 0; padding-left: 0.5vw; 
                                                                background-color: rgba(128, 128, 128, 0.7); width: 100%;">
                                    <h5>
                                        @events.Event_Name
                                    </h5>
                                    <h6>@events.Event_date.ToString("dd/MM/yyyy") @events.Event_time</h6>
                                    <h6>@events.location</h6>
                                </div>
                            </a>
                        </div>

                    } else
                    {
                         <div class="bg-black" style="height: 35vh;  border-radius: 10px; overflow: hidden; position: relative;">
                            <a href="@Url.Action("Ticket", "Home", new { id = events.Event_ID })">
                                <img class="" style="width: 100%; height: 100%; object-fit: cover ;border-radius: 10px;" src=@events.event_image alt="Alternate Text" />
                                <div class="text-white" style="position: absolute; bottom:0; padding-left:0.5vw; background-color: rgba(128, 128, 128, 0.7); width:100%">
                                    <h5>@events.Event_Name</h5>
                                    <h6>@events.Event_date.ToString("dd/MM/yyyy") @events.Event_time</h6>
                                    <h6>@events.location</h6>
                                </div>
                            </a>
                        </div>
                    }
                    
                </div>
            }
            @if( (int)ViewData["count_event_in_month"] > 8 )
            {
                <a href="@Url.ActionLink("EventInMonth", "Home", new {page = 1})" style="text-decoration: none; color: white;">
                    <div class="col-12" style="display: flex; justify-content:center; align-items:center; margin-bottom: 1vh; margin-top:1vh;">
                        <button class="p-2" style="width: 20vw; border: none; border-radius: 40px; background-color: rgb(45, 194, 117); font-weight: bold">
                                Xem Thêm
                        </button>
                    </div>
                </a>
            }
        } else
        {
            <div  class="col-12 p-1 align-content-center align-items-center text-center">
                <h3 class="text-white">Không có sự kiện nào ở trong tháng</h3>
            </div>
        }
    </div>
        </div>
    <div>

        </div class="d-flex align-items-center align-content-center" style="padding-top: 2vh; box-shadow: 10px 10px 10px 10px #fff:">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-white">Sự kiện tại Hà Nội</h3>
                </div>
                @if((int)ViewData["count_event_in_HaNoi"] > 0)
                {
                    @foreach(var events in (List<Event>)ViewData["events_in_HaNoi"])
                        {
                            <div class="col-6 col-lg-3 p-1 align-content-center align-items-center" style="cursor: pointer;" id="item-card">
                                @if(events.Event_date_end < DateTime.Now)
                                {
                                  <div class="bg-black" style="height: 35vh; border-radius: 10px; overflow: hidden; position: relative;">
                                        <a href="@Url.Action("Ticket", "Home", new { id = events.Event_ID })">
                                            <!-- Thêm nhãn "Kết thúc" góc trên cùng bên phải -->
                                            <span style="background-color: #FF9B3F; color: white; border-radius: 5px; 
                                                         position: absolute; top: 10px; right: 10px; 
                                                         padding: 5px 10px; font-weight: bold; z-index: 10;">
                                                Kết thúc
                                            </span>

                                            <img class="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;" 
                                                 src="@events.event_image" alt="Alternate Text" />
                                            <div class="text-white" style="position: absolute; bottom: 0; padding-left: 0.5vw; 
                                                                            background-color: rgba(128, 128, 128, 0.7); width: 100%;">
                                                <h5>
                                                    @events.Event_Name
                                                </h5>
                                                <h6>@events.Event_date.ToString("dd/MM/yyyy") @events.Event_time</h6>
                                                <h6>@events.location</h6>
                                            </div>
                                        </a>
                                    </div>

                                } else
                                {
                                     <div class="bg-black" style="height: 35vh;  border-radius: 10px; overflow: hidden; position: relative;">
                                        <a href="@Url.Action("Ticket", "Home", new { id = events.Event_ID })">
                                            <img class="" style="width: 100%; height: 100%; object-fit: cover ;border-radius: 10px;" src=@events.event_image alt="Alternate Text" />
                                            <div class="text-white" style="position: absolute; bottom:0; padding-left:0.5vw; background-color: rgba(128, 128, 128, 0.7); width:100%">
                                                <h5>@events.Event_Name</h5>
                                                <h6>@events.Event_date.ToString("dd/MM/yyyy") @events.Event_time</h6>
                                                <h6>@events.location</h6>
                                            </div>
                                        </a>
                                    </div>
                                }
                    
                            </div>
                        }
                        @if(((int)ViewData["count_event_in_HaNoi"]) >= 9 )
                        {
                            <a href="@Url.ActionLink("Index", "Event", new {location = "Hà Nội", page = 1})" style="text-decoration: none; color: white;">
                                <div class="col-12" style="display: flex; justify-content:center; align-items:center; margin-bottom: 1vh; margin-top:1vh;">
                                    <button class="p-2" style="width: 20vw; border: none; border-radius: 40px; background-color: rgb(45, 194, 117); font-weight: bold">
                                            Xem Thêm
                                    </button>
                                </div>
                            </a>
                    }
                } else
                {
                    <div  class="col-12 p-1 align-content-center align-items-center text-center">
                        <h3 class="text-white">Không có sự kiện nào ở Hà Nội</h3>
                    </div>
                }
            </div>
        </div>

<div class="text-center" style="margin: 4vh;">
    <a href="@Url.Action("AllEvent", "Home", new {page = 1})"
       id="view-all-events"
       class="btn btn-success"
       style="text-decoration: none; border-radius: 8px; padding: 10px 20px;">
        <h3>Xem tất cả sự kiện</h3>
    </a>
</div>

<script>
    document.getElementById("view-all-events").addEventListener("click", function(event) {
        event.preventDefault();
        localStorage.removeItem('sort_Event');
        localStorage.removeItem('select-province');

        window.location.href = this.href;
    });
</script>

</div>
